<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>airbnd home</title>
</head>
<body>
    <head>
        <h1>Register your home here</h1>
        
    </head>
    <main>
         <form action = "/add-home" method = "POST">
         
         <input 
             type="text" 
             id="name" 
             name="name" 
             placeholder="Enter your name" 
             required
         >
         
         <input 
             type="text" 
             id="house" 
             name="house" 
             placeholder="Enter your house name" 
             required
         >
         <br><br>

         <button type="submit">Submit</button>
    </form>
    </main>
    
</body>
</html>